* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  /* overflow: hidden; */
}

body {
  overflow: hidden;
  background: linear-gradient(hsl(237, 49%, 15%), hsl(214, 47%, 23%));
}

#main {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  width: 100vw;
  padding-top: 15px;
  background-repeat: repeat;
}

#top {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  border: 3px solid hsla(217, 16%, 45%, 0.733);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.left img {
  width: 85%;
}

.right {
  background-color: #fff;
  width: 23%;
  border-radius: 10px;
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: hsl(229, 64%, 46%);
  z-index: 100;
}

.score {
  font-size: 55px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}

#major {
  background-image: url("images/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.options {
  margin-top: 30px;
}

.second-line {
  width: 380px;
  transform: translateY(-20px);
}

.optn-sec {
  display: flex;
  justify-content: space-between;
}

.third-line {
  width: 260px;
  /* transform: translateY(10px); */
}

.optn-thr {
  display: flex;
  justify-content: space-between;
}

.optn {
  background-color: #fff;
  width: 110px !important;
  height: 110px !important;
  display: flex;
  align-items: center;
  border-radius: 50%;
  /* border: 13px solid; */
}

.optn img {
  margin: auto;
  height: 40px;
  width: 40px;
}

.scis,
.spk,
.pap,
.lz,
.rck {
  width: 300px;
  height: 80px;
  border: double 13px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.scis {
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(40, 84%, 53%), hsl(39, 89%, 49%));
}
.pap {
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
}
.lz {
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(261, 72%, 63%), hsl(261, 73%, 60%));
}
.rck {
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(349, 70%, 56%), hsl(349, 71%, 52%));
}

#rules {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#rules button {
  border: 2px solid hsla(217, 16%, 45%, 0.733);
  padding: 10px 35px;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
}

/* ==========================MODAL========================= */

.rules-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-top {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: hsl(229, 25%, 31%);
}

.modal-cont {
  position: relative;
  width: fit-content;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin: 5% auto;
  z-index: 100;
}

.close_btn {
  cursor: pointer;
}

#page2 {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  display: none;
}

.text-el {
  margin: 10% 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  z-index: 90;
}

.heading {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  padding: 10px 40px;
  border: none;
  border-radius: 6px;
  color: hsl(229, 25%, 31%);
  font-weight: 600;
  margin-left: 17px;
}

.player {
  margin-right: 40px;
}
.computer {
  margin-left: 40px;
}

.player .optn,
.computer .optn {
  width: 200px !important;
  height: 200px !important;
  border-radius: 60%;
  border: double 20px transparent;
}

.win {
  box-shadow: 0 0 0 40px hsla(0, 0%, 80%, 0.048),
    0 0 0px 90px hsla(0, 0%, 50%, 0.055),
    0 0 0px 150px hsla(228, 25%, 31%, 0.171);
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-txt,
.comp-txt {
  margin: 30px 0;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
}

/* .media {
  display: none !important;
} */

@media (max-width: 910px) {
  #top {
    width: 60%;
  }
  .player .optn,
  .computer .optn {
    height: 180px !important;
    width: 180px !important;
  }

  .player {
    margin-right: 10px;
  }
  .computer {
    margin-left: 10px;
  }
  .win {
    box-shadow: 0 0 0 30px hsla(0, 0%, 80%, 0.048),
      0 0 0px 60px hsla(0, 0%, 50%, 0.055),
      0 0 0px 110px hsla(228, 25%, 31%, 0.171);
  }

  #major {
    background-size: 300px 284px;
  }
  .options {
    margin-top: 20px;
  }

  #rules button {
    padding: 7px 27px;
    font-size: 15px;
  }
  #rules {
    bottom: 20px;
    right: 20px;
  }

  .text-el {
    margin-top: 100px !important;
  }
}

@media (max-width: 750px) {
  #top {
    width: 70%;
  }
  .player .optn,
  .computer .optn {
    height: 160px !important;
    width: 160px !important;
  }

  .player {
    margin-right: 5px;
  }
  .computer {
    margin-left: 5px;
  }
  .win {
    box-shadow: 0 0 0 30px hsla(0, 0%, 80%, 0.048),
      0 0 0px 60px hsla(0, 0%, 50%, 0.055),
      0 0 0px 100px hsla(228, 25%, 31%, 0.171);

    z-index: -10;
  }

  .text-el {
    margin-top: 50px !important;
  }
}

@media (max-width: 650px) {
  #top {
    width: 80%;
  }
  .no-media {
    order: 3;
    margin-top: 15px;
  }
  .player {
    margin-right: 30px;
    flex-direction: column-reverse;
  }
  .computer {
    margin-left: 30px;
    flex-direction: column-reverse;
  }
  #page2 {
    margin-top: 60px;
    flex-wrap: wrap;
  }

  .player-txt,
  .comp-txt {
    z-index: 10;
    font-size: 20px;
  }
  body {
    overflow-y: auto;
  }

  .text-el {
    margin: 0 57px;
    margin-bottom: 40px;
  }

  .btn {
    transform: none;
  }

  .rules-btn p {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #rules button {
    padding: 3px;
    border-radius: 3px;
  }
  #rules {
    bottom: 8px;
    right: 8px;
  }
  .win {
    box-shadow: 0 0 0 20px hsla(0, 0%, 80%, 0.048),
      0 0 0px 50px hsla(0, 0%, 50%, 0.055),
      0 0 0px 80px hsla(228, 25%, 31%, 0.171);
  }
  .modal-cont img {
    width: 90%;
    margin-left: 10px;
  }
  .modal-cont {
    width: 80%;
  }
}

@media (max-width: 500px) {
  #top {
    width: 90%;
  }
  .player .optn,
  .computer .optn {
    height: 130px !important;
    width: 130px !important;
  }
  .right {
    width: 30%;
  }
}

@media (max-width: 435px) {
  #top {
    width: 95%;
  }
  .player .optn,
  .computer .optn {
    height: 110px !important;
    width: 110px !important;
    border: double 15px transparent;
  }

  .optn {
    height: 90px !important;
    width: 90px !important;
    border: double 10px transparent;
  }
  .second-line {
    width: 320px;
    transform: translateY(-5px);
  }

  .optn-sec {
    display: flex;
    justify-content: space-between;
  }

  .third-line {
    width: 260px;
    transform: translateY(30px);
    /* transform: translateY(10px); */
  }
}
